.card {
  background-color: #1f2937;
  display: grid;
  grid-template-columns: 3fr 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 5rem;
  font-family: "Inter", sans-serif;
}

.card:hover {
  background-color: #374151;
  transition: 0.3s;
  cursor: pointer;
}

.card:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card:not(:last-child) {
  border-bottom: #4b5563 1px solid;
}

.card .leftCard {
  display: flex;
  min-width: 0;
  flex: 1 1 0;
}

.card .leftCard .cardLeftContent {
  padding-left: 1rem;
  min-width: 0;
  flex: 1 1 0;
  overflow: hidden;
  max-width: 100%;
}

.card .leftCard .cardLeftContent .skuViewers {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.card .leftCard .cardLeftContent .skuTitle {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin: 5px 5px 5px 0;
  max-width: 40rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .card .leftCard .cardLeftContent .skuTitle {
    display: none;
  }
}

.card .leftCard .cardLeftContent .skuCategory {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin: 5px 5px 5px 0;
  max-width: 30rem;
}

.card .leftCard .cardLeftContent h3 {
  font-size: 1.5rem;
  font-weight: 100;
  color: white;
  max-width: 40rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .leftCard .cardLeftContent p {
  color: #9ca3af;
}

.card .platform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

.card .platform .statusSelect {
  background-color: #374151;
  border: #9ca3af 1px solid;
  border-radius: 4px;
  color: #d6d6d6;
  padding: 0.4rem;
  font-size: 1rem;
  font-family: inherit;
  min-width: 11.25rem;
  width: 11.25rem;
  box-sizing: border-box;
  text-align: center;
}

.card .platform .status {
  color: white;
  font-weight: bold;
}

.card .platform p {
  color: rgb(214, 214, 214);
  padding: 0.2rem 0.5rem;
  border-radius: 16px;
}

.card .add {
  color: #d6d6d6;
  background-color: #374151;
  border: #9ca3af 1px solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0.4rem;
  gap: 0.3rem;
}

@media (max-width: 600px) {
  .card .add {
    display: none;
  }
}

.card .add:hover {
  background-color: #4b5563;
  transition: 0.3s;
  cursor: pointer;
}

.card .add {
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
